.employees {
    border: 1px solid black;
    border-collapse: collapse;
}

.employees th {
    background-color: grey;
    color: white;
}

.employees th, td {
    padding: 5px;
}

.employee-form label {
    display: block;
}

.employee-form label > span {
    width: 200px;
    font-weight: bold;
    float: left;
    padding-right: 5px;
}

.employee-form label > input,
.employee-form label > select {
    width: 250px;
}
